<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <trust level="Full" originUrl=""/>
   
    </system.web>
      <appSettings>
       <add key="Host" value="smtp.gmail.com"/>
      <add key="EnableSsl" value="true"/>
      <add key="Email" value="ashokarehab@gmail.com"/>
        <add key="UserName" value="ashokarehab@gmail.com"/>
        
      <add key="Password" value="ashokarehab1"/>
      <add key="Port" value="587"/>
     <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

</configuration>
